<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">
  {% assign image_files = site.static_files | where_exp:"item","item.path contains include.folder" %}
  {% for file in image_files %}
    {% if file.path contains include.folder %}
      {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
        {% assign filenameparts = file.path | split: "/" %}
        {% assign filename = filenameparts | last | replace: file.extname,"" %}
        {% picture thumbnail {{file.path}} 1:1 --alt {{page.title}} --img width="200px" %}
      {% endif %}
    {% endif %}
  {% endfor %}</ul>

<link rel="stylesheet" href="{{ "/assets/css/lightbox.css" | relative_url }}">
<script type="text/javascript" src="{{ "/assets/js/lightbox.js" | relative_url }}">
